@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta desativada";
}

<hgroup>
    <h1 class="text-danger">A conta foi desativada, entre em contato com o suporte técnico.</h1>
    <h2 class="text-danger">Esta conta foi desativada por tentativa de login desautorizado, entre em contato com o suporte técnico para habilitar a conta novamente.</h2>
</hgroup>
