@model TDLC.UI.Areas.Admin.Models.Identity.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Configure sua conta de acesso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Modificar sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar uma senha", "SetPassword")
            }
            ]
        </dd>










    </dl>
</div>
